.title {
    color: orange;
}

.language-java,
.language-bash,
.language-conf {
    padding: 12px;
    display: grid;
    background-color: #5555;
    font-size: 120%;
    overflow-x: auto;
}

.language-conf {
    background-color: #cc9d9d54;
}
