body {
	background: linear-gradient(black, #000d1a) fixed;
    color: #e8e8e8;
    margin-bottom: 100px ;
    font-family: sans-serif;
}

header {
    text-align: center;
    margin: 40px;
    color: #cb8a1e;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
}

nav a {
    padding: 10px;
}

nav .right {
    margin-left: auto;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 98%;
}

td, th {
    text-align: left;
    padding: 5px;
}

tr {
    border-bottom: dotted thin #694333;
}

tr:hover {
    background-color: #000033;
}

img {
    filter: grayscale(30%);
}

a {
    text-decoration: none;
    color: #e39777;
}

a:hover {
    text-decoration: underline;
}

/* == classes == */

.subheader {
    color: #f4a460;
    text-align: center;
    margin: 30px;
}
.container {
    max-width: 1000px;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.navimg {
    padding: 2px;
}

.navimg:hover {
    text-decoration: none;
}

.nav-space-left {
    padding-left: 80px;
}

.source-credit {
    text-align: right;
    font-size: 60%;
}

table .align-right {
    width: 30%;
    text-align: right;
}

.center {
    text-align: center;
}

.series {
    font-size: 80%;
    color: #8f5a44;
}
