<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Blog - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1>Blog</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <tr th:each="article : ${articles}">
        <p><a th:href="@{/blog/article/{article}(article=${article.title})}">[[${article.title}]]</a> - [[${article.date}]]</p>
    </tr>
</div>
</body>
</html>
