<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Book Collection - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1>Books</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <p class="subheader">This is the collection of books of which I own a physical copy</p>

    <th:block th:each="bookEntry : ${books}">
        <p th:text="${bookEntry.key}">keyvalue</p>
        <table>
            <tr th:each="book : ${bookEntry.value}">
                <td th:title="|${book.title} - ${book.author}|">
                    <a th:target="_blank"
                       th:href="@{https://openlibrary.org/isbn/{isbn}(isbn=${book.isbn})}"
                       th:title="|Open Library (ISBN: ${book.isbn})|">
                        <span th:text="${book.title}"/>
                        <span th:if="${book.seriesWithNumber != null}"
                              class="series" th:text="${book.seriesWithNumber}"/>
                    </a>
                </td>
                <td class="align-right"
                    th:title="|${book.title} - ${book.author}|"
                    th:text="${book.author}"/>
            </tr>
        </table>
    </th:block>

</div>
</body>
</html>
