<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Donate - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1>Donate</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <div class="center">
        <h2 class="subheader">Monero (XMR)</h2>
        <a target="_blank" th:href="@{/images/xmr-qrcode.png}">
            <img title="XMR address" src="/images/xmr-qrcode.png" width="150">
        </a>
        <p>89u7U4Yboyr5qCbR5qHo6qXtYHhgbpWFQ19TsPkZVdrjWtgCr7qz4Ru7MD4kuT9RN62apATjaz5RrgoSk2HwgJDz4f6wEFN</p>
        <h2 class="subheader">Bitcoin (BTC)</h2>
        <a target="_blank" th:href="@{/images/btc-qrcode.png}">
            <img title="BTC address" src="/images/btc-qrcode.png" width="150">
        </a>
        <p>bc1qfln55lrdugypchnvq005795ss9tkh6tln2zuyq</p>
    </div>
</div>
</body>
</html>
