<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Guides - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1>Guides</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <ul>
        <tr th:each="guide : ${guides}">
            <li><a th:href="@{/guides/{guide}(guide=${guide.title})}">[[${guide.title}]]</a></li>
        </tr>
    </ul>
</div>
</body>
</html>
