<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title th:text="${title} + ' - Wim Dupont'"></title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1 th:utext="${title}"/>
        <div th:insert="~{navigation}"/>
    </header>
    <div th:if="${guide != null}">
        <div class="adoc" th:utext="${guide}"/>
    </div>
</div>
</body>
</html>
