<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Home - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1 class="home-title">Home</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <p class="subheader" th:text="${affirmation.affirmation}"/>
    <img title="The Way of Kings" src="/images/TheWayOfKings.png" width="960">
    <div class="source-credit">
        Original art by Michael Whelan
    </div>
</div>
</body>
</html>
