<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{header :: head}"></head>
<head>
    <title>Links - Wim Dupont</title>
</head>
<body>
<div class="container wrapper">
    <header>
        <h1>Links</h1>
        <div th:insert="~{navigation}"/>
    </header>
    <p class="subheader">Links to websites on various topics</p>
    <ul>
        <li><a target="_blank" th:href="@{{baseUrl}/swagger-ui.html(baseUrl=${@serverUrl})}" title="API">
            <img alt="OpenAPI" title="API" src="/images/swagger.svg" width="12" height="12">
            API</a>
            - OpenAPI Swagger page with various operations for random number generation etc.
        </li>
        <li><a target="_blank" href="https://gitlab.com/users/WimDupont/projects" title="Git">
            <img alt="Git" title="Git" src="/images/git.png" width="12" height="12">
            Git</a>
            - Git page with source code of this website and other projects
        </li>
        <li><a href="/rss.xml" title="RSS Feed">
            <img alt="RSS Feed" title="RSS Feed" src="/images/rssfeed.png" width="12" height="12">
            RSS</a>
            - Feed of the blog page
        </li>
    </ul>
    <h3>Privacy</h3>
    <ul>
        <li>
            <a target="_blank" href="https://privacyguides.org" title="Privacy Guides">Privacy Guides</a>
            - useful information about digital privacy including software recommendations and tips
        </li>
    </ul>

    <h3>Software</h3>
    <ul>
        <li>
            <a target="_blank" href="https://www.fsf.org/" title="Free Software Foundation">Free Software Foundation</a>
            - FSF homepage, great resource to get to know Free/Libre Software and its importance
        </li>
        <li>
            <a target="_blank" href="https://www.vim.org/" title="Vim">Vim</a>
            - highly customizable and efficient text editor
        </li>
        <li>
            <a target="_blank" href="https://gnupg.org/" title="GnuPG">GnuPG</a>
            - encryption software suite using the OpenPGP standard
        </li>
        <li>
            <a target="_blank" href="https://www.passwordstore.org/" title="Password Store">Password Store</a>
            - simple and extensible password manager
        </li>
        <li>
            <a target="_blank" href="https://www.signal.org/" title="Signal">Signal</a>
            - encrypted instant messaging service
        </li>
        <li>
            <a target="_blank" href="https://newsboat.org/" title="Newsboat">Newsboat</a>
            - CLI RSS/Atom feed reader
        </li>
        <li>
            <a target="_blank" href="https://odysee.com/" title="Odysee">Odysee</a>
            - video-sharing website that uses the decentralized LBRY network
        </li>
        <li>
            <a target="_blank" href="https://invidious.io/" title="Invidious">Invidious</a>
            - privacy focused open software alternative front-end to YouTube
        </li>
    </ul>
</div>
</body>
</html>
