<nav>
    <a href="/">&#x1F3E0; Home</a>
    <a href="/books">&#x1F4DA; Books</a>
    <a href="/blog">&#x1F4DD; Blog</a>
    <a href="/guides">&#x1F481; Guides</a>
    <a href="/links">&#x1F517; Links</a>
    <a href="/contact">&#x1F4E7; Contact</a>
    <a href="/donate">&#x1F4B0; Donate</a>
    <div class="right">
        <a class="navimg" target="_blank" th:href="@{{baseUrl}/swagger-ui.html(baseUrl=${@serverUrl})}">
            <img alt="OpenAPI" title="API" src="/images/swagger.svg" width="20" height="20">
        </a>
        <a class="navimg" target="_blank" href="https://gitlab.com/users/WimDupont/projects">
            <img alt="Git" title="Git" src="/images/git.png" width="20" height="20">
        </a>
        <a class="navimg" href="/rss.xml">
            <img alt="RSS Feed" title="RSS Feed" src="/images/rssfeed.png" width="20" height="20">
        </a>
    </div>
</nav>
